<div class="container" (click)="handleClick()">
  <ion-card class="card-grid">
    <ion-card-header>
      <ion-card-title>{{ jenis }}</ion-card-title>
      <ion-card-subtitle>{{ formatRupiah(harga) }}</ion-card-subtitle>
      <ion-card-subtitle>Stok: {{ stok }}</ion-card-subtitle>
      <ion-card-subtitle>Warna: {{ warna }}</ion-card-subtitle>
      <ion-card-subtitle>Bahan: {{ bahan }}</ion-card-subtitle>
      <ion-card-subtitle>Kategori: {{ kategori }}</ion-card-subtitle>
      <ion-card-subtitle>Ukuran: {{ ukuran }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</div>
